@model KhoaLuanTotNghiep.Models.THONGTINADMIN
@using KhoaLuanTotNghiep.Models;
@{
    ViewBag.Title = "TopicAdmin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.responsivevoice.org/responsivevoice.js?key=G9wc7rFf"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" media="screen" />
</head>
<link rel="stylesheet" type="text/css" href="~/Content/style.css" />
<style>
    .vocabulary a {
        background-color: rgb(230, 230, 230);
    }


    .navcd {
        position: relative;
    }

        .navcd::after {
            position: absolute;
            content: '';
            right: -80px;
            left: -100px;
            top: -20px;
            bottom: -40px;
            background-color: lightgreen;
            z-index: -1;
            clip-path: ellipse(74% 96% at 35% 6%);
        }

    body {
        background-image: url(https://kidsgoflash.com/wp-content/uploads/2017/02/kidsgoflash_sky_birds2.jpg);
        background-color: rgba(255,255,255,0.7);
        background-blend-mode: screen;
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .modal-backdrop {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
        background-color: #333333;
        opacity: 0.1;
    }
</style>
@using (Html.BeginForm("SearchTopic", "Home"))
{
    <div style=" display:flex; flex-direction:row; flex-wrap:wrap; margin-top:10px;overflow:auto;justify-content:flex-start;margin-left:10px;">
        @{
            var listcd = ViewData["listcd"] as List<CHUDE>;

        }

        <div class="container-fluid navcd" style="height:80px;display:flex;align-items:center;justify-content:flex-end;position:fixed;top:60px;width:80%;">
            <h2 style="position:absolute;margin-right:911px;">Danh sách chủ đề</h2>
            <input type="text" name="searchTopic" placeholder="Tên chủ đề ..." style="border-radius:2rem; padding-left:20px;outline:none;width:22%;height:50%;border:none;background-color:rgb(234, 234, 225);margin-right:80px;" />
            <input type="submit" value="Search" style="position:absolute;right:80px;height:100%;border-radius:2rem;width:5%;display:flex;align-items:center;height:50%;justify-content:center; background-color:rgb(30, 47, 47); color:white;" />

        </div>
        <div class="ctn-cd" style="position:relative;width:100%;display:flex;flex-direction:row; flex-wrap:wrap; margin-top:80px; height:600px;overflow:auto;margin-top:100px;z-index:3;">
            @foreach (var std in listcd)
            {

                    <div class="flashcard-item" style=" width:19%; height:250px;margin-left:30px; margin-bottom:30px;margin-right:30px;margin-top:20px;border-radius:2rem;padding:20px;position:relative;border:none;background:linear-gradient(to right,rgb(242, 242, 242),white);box-shadow:0 0 10px  gray;">
                        <div class="ct1" style="overflow:hidden;width:206px;height:250px;margin-left:-5px;z-index:1;">

                            <div class="anhnen" id="@std.IDCD" style="border:1px solid rgb(230, 230, 230);width:100%;height:150px;border-radius:2rem;background-image:url('@std.ANHCD');background-size:100% 100%;">

                            </div>
                            <div class="@std.TENCD" id="ed-@std.IDCD" style="border:1px solid grey;border-radius:1rem;position:absolute;top:0;right:-40px;left:95%;top:30px;bottom:100px;z-index:-10;background-color:rgba(255,255,255,0.5);transform:translateX(-40px);transition:all .5s;">
                                <div class="edit" id="@std.IDCD" style="position:absolute;left:50%;top:20%;width:50%; height:50%;" data-toggle="modal" data-target="#myModalEdit">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                                        <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
                                    </svg>
                                </div>
                                <div class="delete" id="@std.IDCD" style="position:absolute;left:50%;top:60%;">
                                    <svg style="color:red;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                                    </svg>
                                </div>
                            </div>
                            <div style="width:90%;display:flex;flex-direction:row;height:50px;position:relative;margin-top:10px;margin-left:50%;transform:translateX(-50%);">
                                @Html.ActionLink(std.TENCD.ToUpper(), "details", "Home", new { id = std.IDCD }, new { @style = "box-shadow:0 0 5px grey; border-radius:2rem;width:100%;height:100%;position:absolute;display:flex;justify-content:center;align-items:center;background-color:white;font-weight:600;" })
                                @*@Html.ActionLink("Luyện tập", "practice", "Vocabulary", new { id = std.IDCD }, new {  @style = "border:2px solid gray; border-radius:2rem; margin-left:102px;width:45%;height:100%;position:absolute;display:flex;justify-content:center;align-items:center;background-color:white;font-weight:600;" })*@
                            </div>

                        </div>
                    </div>


            }
            <div class="flashcard-item" style="width:19%; height:250px; margin-bottom:30px;margin-left:30px;text-align:center;margin-top:20px;border-radius:2rem; background-color:rgb(247, 247, 247); display:flex; justify-content:center;align-items:center;">
                <div style="background:gray; width:100px;height:100px;clip-path: circle(50% at 50% 50%);display:flex; justify-content:center;align-items:center;" id="add-Chude" data-toggle="modal" data-target="#myModal">
                    <div style="background-color: black; width: 50px; height: 50px;clip-path: polygon(35% 0%,65% 0%,65% 35%,100% 35%,100% 60%,65% 60%,65% 100%,35% 100%,35% 60%,0% 60%,0% 35%,35% 35%); ">
                    </div>
                </div>
            </div>
        </div>


    </div>

}
<div class="modal" id="myModalEdit">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Chủ đề</h4>
            </div>

            @using (Html.BeginForm("TopicEditAdmin", "Home",FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <!-- Modal body -->
        <div class="modal-body">
            <input type="text" name="topic" id="topic" class="w-100" placeholder="Tên chủ đề ..." required><br>
            <input type="file" name="file" style="border:none;margin-left:-20px;margin-top:20px;" /><br />
            <input type="submit" value="Lưu chủ đề" class=" mt-3 btn btn-primary w-100">
            <input type="text" name="topicID" id="topicId" class="w-100" style="opacity:0;height:1px;" />

        </div>
            }



        </div>
    </div>
</div>


<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Chủ đề</h4>
            </div>

            @using (Html.BeginForm("TopicAddAdmin", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <!-- Modal body -->
        <div class="modal-body">
            <input type="text" name="topic" class="w-100" placeholder="Tên chủ đề ..." required><br />
            <input type="file" name="file" style="border:none;margin-left:-20px;margin-top:20px;" /><br />
            <input type="submit" value="Thêm chủ đề" class=" mt-3 btn btn-primary w-100">
        </div>
            }



        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(`input`).attr("autocomplete", "off");
        var dem = 0;
        $(`.anhnen`).click(function () {
            dem++;
            if (dem % 2 == 1) {
                $(`#ed-` + $(this).attr("id")).css("transform", "translateX(0)");
            }
            else {
                $(`#ed-` + $(this).attr("id")).css("transform", "translateX(-40px)");
            }

        });

        $(`.edit`).click(function () {
            var idcd = $(this).attr("id").toString();
            var tencd = $(this).parent().attr("class").toString();
            $(`#topic`).attr("value", tencd);
            $(`#topicId`).attr("value", idcd);
        })

        $(`.delete`).click(function () {
            $.get(`@Url.Action("deleteTopic", "Home")`, { TopicID: $(this).attr("id") });
            location.reload();
            location.reload();
        });
    });
</script>



