@model  KhoaLuanTotNghiep.Models.THONGTINTAIKHOAN
@using KhoaLuanTotNghiep.Models;

@{
    ViewBag.Title = "learnCard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model1 model = new Model1();
    var tuple = ViewData["tuple"] as Tuple<List<TUVUNGONTAP>, int>;
    var listtv = tuple.Item1;
}
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.responsivevoice.org/responsivevoice.js?key=G9wc7rFf"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" media="screen" />
    <style>
        .vocabulary a {
            background-color: rgb(230, 230, 230);
        }
        body {
            background-image: url(https://kidsgoflash.com/wp-content/uploads/2017/02/kidsgoflash_sky_birds2.jpg);
            background-color: rgba(255,255,255,0.7);
            background-blend-mode: screen;
            background-position: center top;
            background-size: cover;
            background-repeat: no-repeat;
        }
       
        #finish {
            background-color: rgb(204, 0, 0);
        }

            #finish:hover {
                text-decoration: none;
                background-color: rgb(255, 0, 0);
            }

        #practiceCard {
            background-color: rgb(0, 153, 51);
        }

            #practiceCard:hover {
                background-color: rgb(0, 230, 77);
                text-decoration: none;
            }
    </style>
</head>

<div class="learn-container" style="width:1240px;height:645px;margin-top:50px;margin-left:15px;display:flex;flex-direction:row;">
    <div class="board-control" style="height:100%;width:60%;margin-left:50%;transform:translateX(-50%);border-radius:2rem;background-color:rgba(251, 248, 226,0.7);position:relative;padding:50px;position:relative;">
        <div class="img-container" style="overflow:hidden;background-color:white;width:65%;height:90%;border-radius:2rem;box-shadow:0 0 10px grey;">
            @foreach (var item in listtv)
            {
                <div id="@item.IDTV" class="@item.TENTV" style="height:100%;width:100%;padding:20px;">
                    <div class="img-item" style="height:100%;">
                        <div class="img" style="height:85%;border-radius:2rem;background-image:url('@item.ANHTUVUNG');background-repeat:no-repeat;background-size:100% 100%;position:relative;display:flex;flex-direction:row;">
                            <svg xmlns="http://www.w3.org/2000/svg" class="sound" style="width: 10%; height: 10%; margin-left: 10%; margin-top: 2%;" fill="currentColor" class="bi bi-volume-up-fill" viewBox="0 0 16 16">
                                <path d="M11.536 14.01A8.473 8.473 0 0 0 14.026 8a8.473 8.473 0 0 0-2.49-6.01l-.708.707A7.476 7.476 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303l.708.707z" />
                                <path d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.483 5.483 0 0 1 11.025 8a5.483 5.483 0 0 1-1.61 3.89l.706.706z" />
                                <path d="M8.707 11.182A4.486 4.486 0 0 0 10.025 8a4.486 4.486 0 0 0-1.318-3.182L8 5.525A3.489 3.489 0 0 1 9.025 8 3.49 3.49 0 0 1 8 10.475l.707.707zM6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06z" />
                            </svg>
                            @if (model.TUVUNGONTAPs.Where(t => t.IDCD == 2).Where(t => t.TENTV.ToLower().Equals(item.TENTV)).ToList().Count() == 0)
                            {
                                <svg class="star" style="width:10%;height:10%;margin-left:60%;margin-top:2%;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                                </svg>
                            }
                            else
                            {
                                <svg class="star" style="width:10%;height:10%;margin-left:60%;margin-top:2%;color:rgb(255, 237, 38);" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                                </svg>
                            }

                        </div>
                        <div class="@item.TENTV" style="height:65px;display:flex;justify-content:center;align-items:center;text-align:center;">
                            <h1  class="@item.TENTV" style="font-size:2rem;margin-top:20px;">@item.TENTV : @item.NGHIATV</h1>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="previous-next" style="width:50%;height:80px;margin-left:50px;display:flex;align-items:center;margin-top:10px;justify-content:space-around;">
            <svg xmlns="http://www.w3.org/2000/svg" class="previous" style="width:50%;height:100%;" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 490.6 490.6" style="enable-background:new 0 0 490.6 490.6;" xml:space="preserve">
                <path style="fill:#009688;" d="M245.3,0C109.8,0,0,109.8,0,245.3s109.8,245.3,245.3,245.3s245.3-109.8,245.3-245.3  C490.5,109.9,380.7,0.1,245.3,0z" />
                <path style="fill:#FAFAFA;" d="M373.3,192H249.7l19.2-19.2c18.9-18.9,18.9-49.5,0-68.4l0,0c-19.2-18.2-49.3-18.2-68.4,0.1  L82.2,222.7c-12.5,12.5-12.5,32.8,0,45.2l118.3,118.2c19.5,14.5,44.9,17.4,65-0.1c20.1-17.6,15.6-41.9,6.7-63  c-1.4-1.7-1.8-3.7-3.4-5.1l-19.2-19.2h123.7c29.5,0,53.3-23.9,53.3-53.3C426.6,215.8,402.8,192,373.3,192z" />
                <path d="M245.3,490.6C109.8,490.6,0,380.8,0,245.3S109.8,0,245.3,0s245.3,109.8,245.3,245.3C490.5,380.7,380.7,490.5,245.3,490.6z   M245.3,21.3c-123.7,0-224,100.3-224,224s100.3,224,224,224s224-100.3,224-224C469.2,121.6,369,21.4,245.3,21.3z" />
                <path d="M234.6,400.4c-12.8,0-25.1-5.1-34.1-14.3L82.2,267.9c-12.5-12.5-12.5-32.8,0-45.2l118.3-118.2c19.1-18.3,49.3-18.3,68.4,0  c18.9,18.9,18.9,49.5,0,68.4l0,0l-19.2,19.2h123.6c29.5,0,53.3,23.9,53.3,53.3c0,29.5-23.9,53.3-53.3,53.3H249.7l19.2,19.2  c18.9,18.9,18.9,49.5,0,68.4c-9,9-21.3,14.1-34.1,14.2L234.6,400.4z M234.6,111.6c-7.2,0-14.1,2.8-19.2,7.9L97.3,237.7  c-4.2,4.2-4.2,10.9,0,15.1l118.2,118.3c10.7,10.2,27.5,10.2,38.3,0c10.6-10.5,10.6-27.7,0-38.2l0,0l-37.3-37.3  c-4.2-4.1-4.3-10.9-0.1-15.1c2-2.1,4.8-3.2,7.8-3.2h149.1c17.7,0,32-14.3,32-32s-14.3-32-32-32H224c-5.9,0-10.7-4.8-10.7-10.6  c0-2.8,1.1-5.6,3.1-7.6l37.4-37.2c10.6-10.6,10.5-27.7,0-38.3C248.7,114.5,241.8,111.7,234.6,111.6L234.6,111.6z" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" class="next" style="width:50%;height:100%;" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 490.667 490.667" style="enable-background:new 0 0 490.667 490.667;" xml:space="preserve">
                <path style="fill:#009688;" d="M245.333,0C109.839,0,0,109.839,0,245.333s109.839,245.333,245.333,245.333  s245.333-109.839,245.333-245.333C490.514,109.903,380.764,0.153,245.333,0z" />
                <path style="fill:#FAFAFA;" d="M290.133,104.533c-19.139-18.289-49.277-18.289-68.416,0c-18.893,18.881-18.902,49.503-0.021,68.395  c0.007,0.007,0.014,0.014,0.021,0.021l19.2,19.2H117.333C87.878,192.149,64,216.027,64,245.483  c0,29.455,23.878,53.333,53.333,53.333h123.584l-19.2,19.2c-17.522,20.175-15.371,50.734,4.804,68.257  c18.259,15.858,45.423,15.799,63.612-0.139l118.251-118.251c12.492-12.496,12.492-32.752,0-45.248L290.133,104.533z" />
                <path d="M245.333,490.667C109.839,490.667,0,380.827,0,245.333S109.839,0,245.333,0s245.333,109.839,245.333,245.333  C490.514,380.764,380.764,490.514,245.333,490.667z M245.333,21.333c-123.712,0-224,100.288-224,224s100.288,224,224,224  s224-100.288,224-224C469.192,121.68,368.987,21.474,245.333,21.333z" />
                <path d="M256,400.384c-26.71-0.059-48.315-21.76-48.256-48.47c0.028-12.769,5.105-25.008,14.122-34.048l19.2-19.2H117.333  C87.878,298.667,64,274.789,64,245.333S87.878,192,117.333,192h123.584l-19.2-19.2c-18.893-18.881-18.902-49.503-0.021-68.395  c0.007-0.007,0.014-0.014,0.021-0.021c19.139-18.289,49.277-18.289,68.416,0l118.251,118.251c12.492,12.496,12.492,32.752,0,45.248  L290.133,386.133C281.115,395.251,268.824,400.382,256,400.384z M117.333,213.333c-17.673,0-32,14.327-32,32s14.327,32,32,32  h149.333c5.891-0.011,10.675,4.757,10.686,10.648c0.005,2.84-1.123,5.565-3.134,7.571L236.8,332.8  c-10.563,10.549-10.574,27.663-0.025,38.225c0.008,0.009,0.017,0.017,0.025,0.025c10.711,10.199,27.54,10.199,38.251,0  L393.301,252.8c4.164-4.165,4.164-10.917,0-15.083L275.2,119.467c-10.711-10.199-27.54-10.199-38.251,0  c-10.563,10.549-10.574,27.663-0.025,38.225c0.008,0.008,0.017,0.017,0.025,0.025l37.333,37.333  c4.207,4.124,4.274,10.877,0.15,15.084c-2.042,2.083-4.849,3.239-7.766,3.198H117.333z" />
            </svg>

        </div>
        <div class="info" style=" position:absolute;height:75%;top:50px;left:67%;width:30%;text-align:center;padding-top:20px;" >
            <h3 >1 / @listtv.Count()</h3>

            <div class="amount" style="border:1px solid grey;height:20px;">
                <div class="liquid" style="height:100%; background-color:rgb(0, 38, 153);transition:all .5s;"></div>
            </div>

            <div class="play-pause-stop" style="margin-top:30px;height:300px;display:flex;flex-direction:column;justify-content:space-around;align-items:center;">
                <img class="play-pause" src="~/Img/button/start1.png" alt="Alternate Text" style="width:50%;"/>
                <img class="stop" src="~/Img/button/stop1.png" alt="Alternate Text" style="width:50%;" />
            </div>
            <div class="close-practice" style="margin-top: 75px; display:flex;flex-direction:column;height:100px;justify-content:space-around;align-items:center;">
                @Html.ActionLink("Luyện tập", "practice", "Vocabulary", new { id = tuple.Item2 }, new { @id = "practiceCard", @style = "padding:5px 5px;font-weight:600;border-radius:2rem;height:40%;color:white;width:80%;" })
                @Html.ActionLink("Kết thúc", "details", "Vocabulary",new { id = tuple.Item2}, new { @id = "finish", @style = "padding:5px 5px;font-weight:600;border-radius:2rem;height:40%;color:white;width:80%;" })
            </div>
        </div>
        
    </div>

   
</div>


<script>
    $(document).ready(function () {
        var change = 0;
        var temp = @listtv[0].IDTV;
        var crbd = 100 / @listtv.Count();
        $(`.close-practice`).hide();
        responsiveVoice.speak($(`#` + temp).attr("class"), "UK English Female", { volume: 0.5,rate:0.75 });
        var sott = 1;
        $(`.amount`).children(".liquid").css("width", crbd + "%");
        $(`.learn-container`).children().children().children().children().children().children(".star").click(function () {
            if ($(this).css("color") == "rgb(255, 237, 38)") {
                console.log("true");
                $(this).css("color", " rgb(0, 0, 0)");
                $.get(`@Url.Action("removeWord", "vocabulary")`, { idtv: $(this).parent().parent().parent().attr("id"), idcd : @tuple.Item2 });
            }
            else {
                console.log("false");
                $(this).css("color", "rgb(255, 237, 38)");
                $.get(`@Url.Action("addWord", "vocabulary")`, { idtv: $(this).parent().parent().parent().attr("id"), idcd : @tuple.Item2 });
            }

        });




        $(`.sound`).click(function () {
            responsiveVoice.speak($(`#` + temp).attr("class"), "UK English Female", { volume: 0.5, rate: 0.75 });
        });
        $(`.previous-next`).children(".previous").hide();
        $(`.previous-next`).children(".next").click(function () {
            sott++;
            temp++;
            $(`.amount`).children(".liquid").css("width", crbd * sott + "%");
            $(`.info`).children("h3").text(sott + " / " +@listtv.Count());
            document.getElementById(temp).scrollIntoView({ behavior: "smooth" });
            if (sott > 1) {
                $(`.previous-next`).children(".previous").show();
            }
            if (sott == @listtv.Count) {
                $(`.previous-next`).children(".next").hide();
                $(`.close-practice`).show();
            }
            setTimeout(speak, 250);


        });
        $(`.previous-next`).children(".previous").click(function () {
            sott--;
            temp--;
            $(`.amount`).children(".liquid").css("width", crbd * sott + "%");
            $(`.info`).children("h3").text(sott + " / " +@listtv.Count());
            document.getElementById(temp).scrollIntoView({ behavior: "smooth" });
            if (sott == 1) {
                $(`.previous-next`).children(".previous").hide();
            }
            if (sott < @listtv.Count) {
                $(`.previous-next`).children(".next").show();
                $(`.close-practice`).hide();
            }
            setTimeout(speak, 250);
        });



        $(`.play-pause`).click(function () {
            change++;
            if (change % 2 == 1) {
                $(this).attr("src", "/Img/button/pause1.png");
                if (sott < @listtv.Count) {
                    setTimeout(speak, 500);
                    var loop = setInterval(function () {
                        setTimeout(speak, 500);
                        sott++;
                        temp++;
                        $(`.amount`).children(".liquid").css("width", crbd * sott + "%");
                        $(`.info`).children("h3").text(sott + " / " +@listtv.Count());
                        document.getElementById(temp).scrollIntoView({ behavior: "smooth" });
                        if (sott > 1) {
                            $(`.previous-next`).children(".previous").show();
                        }
                        if (sott == @listtv.Count) {
                            $(`.previous-next`).children(".next").hide();
                            $(`.play-pause`).attr("src", "/Img/button/start1.png");
                            change++;
                            clearInterval(loop);
                            $(`.close-practice`).show();
                        }
                        else {
                            $(this).click(function () {
                                $(this).attr("src", "/Img/button/start1.png");
                                clearInterval(loop);
                            });
                            $(`.stop`).click(function () {
                                clearInterval(loop);
                                sott=1;
                                temp=@listtv[0].IDTV;
                                $(`.amount`).children(".liquid").css("width", crbd * sott + "%");
                                $(`.info`).children("h3").text(sott + " / " +@listtv.Count());
                                document.getElementById(temp).scrollIntoView({ behavior: "smooth" });
                                $(`.close-practice`).show();
                                $(`.play-pause`).attr("src", "/Img/button/start1.png");
                                if (change % 2 == 0) {
                                    change == 0;
                                }
                                else {
                                    change++;
                                }

                            });
                        }
                    }, 2500);

                }

            }
            else {
                $(this).attr("src", "/Img/button/start1.png");
            }

        });

        $(`.stop`).click(function () {
                                sott=1;
                                temp=@listtv[0].IDTV;
                                $(`.amount`).children(".liquid").css("width", crbd * sott + "%");
                                $(`.info`).children("h3").text(sott + " / " +@listtv.Count());
                                document.getElementById(temp).scrollIntoView({ behavior: "smooth" });
                                $(`.close-practice`).show();
                                $(`.play-pause`).attr("src", "/Img/button/start1.png");
                                if (change % 2 == 0) {
                                    change == 0;
                                }
                                else {
                                    change++;
                                }

                            });

        function speak() {
            responsiveVoice.speak($(`#` + temp).attr("class"), "UK English Female", { volume: 0.5, rate: 0.75 });
            $.get(`@Url.Action("addWord", "Exam")`, { });
        }

    });

</script>